version: '2'
services:
  rabbitmq:
     image: rabbitmq:3-management
     restart: always
     ports:
       - 15673:15672
  discovery:
    build: discovery
    ports:
      - "8761:8761"
  config:
    build: config
    ports:
      - "8888:8888"
  monitor:
    build: monitor
    ports:
      - "8040:8040"
  zipkin:
    build: zipkin
    ports:
      - "9411:9411"
  api-gateway:
    build: api-gateway
    ports:
      - "8060:8060"
  service-account:
    build: service-account
